{% extends 'base.html.twig' %}

{% block title %}Bibliotheque{% endblock %}

{% block body %}
<style>
    .form{
        margin-left: 50px;
        font-weight:bold;

     }
     
</style>
<div class="form">
    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
